.customerLogo {
    color: #5600e8;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4rem;
}
.customerStyle {
    margin-left: -0.2rem;
}
.CustomerContainer {
    display: flex;
    background: #f9f9f9;
}
.customerLink {
    text-decoration: none;
}
.CustomerAside {
    display: block;
    height: 100vh;
    width: 228px;
    padding-top: 5rem;
}
.nav__iconAside {
    width: 9px;
}
.customer__navPara {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding-left: 1.6rem;
    color: #818080;
}
.customer__navContainer {
    padding-top: 2rem;
}
.customerNav__icon {
    display: flex;
    margin-left: 2.1rem;
    align-items: center;
    padding-bottom: 0.8rem;
}
.customerList__items {
    list-style-type: none;
}
.customerBordertop {
    width: 99%;
    background: #e5e5e5;
    height: 0.1rem;
    margin-top: 4.2rem;
}
.inputWrapper {
    width: 170px;
    margin-left: 22px;
}
.CustomerCard {
    width: 61.5rem;
    margin: 0 auto;
    margin-top: 4rem;
}
.customerSearch {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.customerDataInput {
    display: flex;
    justify-content: space-evenly;
    margin-right: 122px;
    margin-top: 20px;
}
/* .customerTop__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.customerMain__header {
    font-family: sans-serif;
    color: #3a3a3a;
    font-size: 15px;
}
.customerFilter__Para {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 22px;
    color: #3a3a3a;
}
.inputLabel2 {
    font-family: sans-serif;
    color: #3a3a3a;
    font-size: 10px;
}
.customerInput_field {
    font-family: sans-serif;
    font-size: 10px;
    border: 1px solid #c4c4c4;
    padding: 7px 27px 7px 2px;
    border-radius: 3px;
    margin-top: 4px;
}
.customers__bottomButtons {
    display: flex;
    justify-content: right;
    margin-right: 39px;
    margin-top: 39px;
}
.customer__lightBtn {
    background: #ffffff;
    font-family: sans-serif;
    font-size: 10px;
    color: #3a3a3a;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    padding: 8px 15px 8px 13px;
}
.customer__lightBtn:hover {
    color: #5600e8;
    border: 1px solid #5600e8cc;
}
.customer__coloredBtn {
    background: #5600e8;
    font-family: sans-serif;
    font-size: 10px;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    padding: 8px 16px 8px 16px;
    margin-left: 1.3rem;
}
.customer__coloredBtn:hover {
    background: #5600e8cc;
}
.CustomerCardInfo {
    width: 61.5rem;
    margin: 0 auto;
    margin-top: 4rem;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.table2 {
    width: 100%;
}
.table2,
th,
td {
    border-bottom: 1px solid #bab6b6;
    border-collapse: collapse;
}
th,
td {
    padding: 25px;
    text-align: left;
}
th {
    font-family: sans-serif;
    font-size: 10px;
    color: #3a3a3a;
    font-weight: 800;
}
td {
    font-family: sans-serif;
    font-size: 12px;
    color: #3a3a3a;
}
.auctionImage {
}
