/* aside Nav*/
.DashboardCustomer_logo {
    color: #5600e8;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.4rem;
}
.DashboardCustomer_style {
    margin-left: -0.2rem;
}
.DashboardCustomer_aside {
    display: block;
    height: 100%;
    width: 18%;
    background: yellow;
    padding-top: 5rem;
}
.nav__icon {
    width: 1.5rem;
}
.DashboardCustomer_navPara {
    font-family: sans-serif;
    font-size: 0.8rem;
    padding-left: 1.6rem;
}
.DashboardCustomer__navContainer {
    padding-top: 2rem;
}
.DashboardCustomer__nav {
    display: flex;
    margin-left: 3.2rem;
    align-items: center;
    padding-bottom: 0.8rem;
}
