.signUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e0647;
    height: 100vh;
}
.signUp-formBg {
    background: #ffffff;
    width: 440px;
    height: 381px;
    margin: 0 auto;
    border-radius: 12px;
}
.signUp-text {
    font-family: sans-serif;
    color: #5600e8;
    text-align: center;
    padding-top: 32px;
}
.signUP-formHolder {
    display: flex;
    justify-content: center;
}
.signUp_username {
    border-radius: 3px;
    border: 1px solid #00000038;
    padding: 10px 210px 10px 2px;
    margin-top: 4px;
}
.signUp_usernameLabel {
    font-family: sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}
.login_userName_container {
    margin-top: 11px;
}

.signUp_phoneNumberLabel {
    font-family: sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}

.login_infoContainer {
    margin-top: 15px;
}
.signUp_passwordLabel {
    font-family: sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}
.signUpBtn {
    background: #e85500;
    color: #ffffff;
    padding: 10px 153px 10px 153px;
    border: none;
    border-radius: 3px;
}
.signUpBtn:hover {
    background: #e85500d9;
}
.signUpBtn-container {
    margin-top: 47px;
}
.signUp-textContainer {
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 15px;
}
.login_register {
    font-weight: 800;
    margin-left: 4px;
}
